.addition {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.addition__wrapper {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 900px;
    margin-bottom: 0;
  }
}

.addition__title {
  margin: 0;
  margin-bottom: 31px;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
    margin-left: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 53px;
  }
}


.addition__list {
  // position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 13px;
  list-style-type: none;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    padding-top: 26px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-right: 0;
    padding-top: 25px;
    border: none;
    border-top: 1px solid #cdcdcd;
    }
}

// .addition__list::before {
//   position: absolute;
//   top: -13px;
//   left: 0;
//   content: "";
//   width: 100%;
//   height: 1px;
//   background-color: #d9d9d9;

//   @media (min-width: $tablet-width) {
//     top: -52px;
//   }

//   @media (min-width: $desktop-width) {
//     top: -1px;
//   }
// }

.addition__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
    padding-right: 0;
  }

  // &::after {
  //   position: absolute;
  //   bottom: -18px;
  //   left: 0;
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background-color: #d9d9d9;

  //   @media (min-width: $tablet-width) {
  //     bottom: -26px;
  //   }

  //   @media (min-width: $desktop-width) {
  //     bottom: -2px;
  //   }
  // }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}

.addition__item:not(:last-of-type) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
