.advantages {
  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.advantages__title {
  margin-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 37px;
    column-gap: 153px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 94px;
  }
}

.advantages__item {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 246px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.advantages__item:not(:last-of-type) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__description {
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-top: 150px;
    padding-bottom: 57px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
    padding-bottom: 57px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
