.button {
  width: 280px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  font-family: $additional-font-family;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $basic-green;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
