.button {
  width: 280px;
  box-sizing: border-box;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
}
