.checkbox-field__control {
  display: flex;
  align-items: center;
}

.checkbox-field__control-mark {
  position: relative;
  display: block;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
  }
}

.checkbox-field__control-label {
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    font-size: 20px;
    line-height: 30px;
  }
}

.checkbox-field__input:checked + .checkbox-field__control-mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 14px;
  background-image: url("../../img/index/bg-icons/form-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 18px;
    background-size: 24px 18px;
  }
}

.checkbox-field__control:hover .checkbox-field__control-mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 14px;
  background-image: url("../../img/index//bg-icons/form-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 18px;
    background-size: 24px 18px;
  }
}

.checkbox-field__input:focus + .checkbox-field__control-mark {
  border-color: $black;
}

.checkbox-field__input:disabled {
  opacity: 0.3;
}
