.checkbox-group-legend {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.checkbox-group__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    row-gap: 32px;
    column-gap: 123px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

.checkbox-group__item {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 195px;
  }
}

.checkbox-group__item:last-child {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
