.checkbox-group-legend {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.checkbox-group__list {
  display: grid;
  row-gap: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
  }
}

.checkbox-group__item {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 195px;
  }
}

.checkbox-group__item:last-child {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
