.form {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset--input-group {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__fieldset--pet {
  flex-basis: 570px;
}

.form__fieldset--owner {
  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.form__fieldset--radio-group {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__fieldset--textarea-field {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
  }

.form__fieldset--checkbox-group {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
  }


.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__button {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 64px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    margin-right: 80px;
  }
}

.form__remark {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
