.inner-container {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 61px;
  }
}

.inner-container--form {
  @media (min-width: $tablet-width) {
    padding-left: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.inner-container__title {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.inner-container__title--catalog {
  position: relative;

  &::after {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.inner-container__title--form {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.inner-container__text {
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.inner-container__addition {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }


  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.inner-container__offer {
  margin-bottom: 35px;
}
