.input-group__legend {
  margin-bottom: 35px;
  font-family: $additional-font-family;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.input-group__item {
  margin-bottom: 14px;
}

.input-group__item:last-child:last-child {
  margin-bottom: 0;
}

.text-field__input[value] {
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 18px;
  color: $font-grey;
}
