.input-group {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.input-group__legend {
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.input-group__list--owner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.input-group__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.input-group__item:last-child:last-child {
  margin-bottom: 0;
}

.input-group__item--owner {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 0;
  }
}

