.location {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 83px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
    background-color: $white;
  }
}

.location__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 10%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 58px;
    padding-top: 58px;
    align-items: center;
    gap: 85px;
    width: 565px;
    background-color: $white;
  }
}

.location__title {
  width: 50%;
  margin: 0;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.location__address {
  width: 50%;
  font-style: normal;
  line-height: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    text-align: left;
  }
}

.location__map-wrapper {
  width: 100%;
  height: 362px;
  background-image: url("../../img/index/mobile/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../img/index/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/index/map-desktop.jpg");
  }
}

.location__map {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
