.logo__text {
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 117px;
    height: 21px;
  }
}

.logo__text img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo__text--footer {
  width: 128px;
  height: 24px;
}
