.main-footer {
  background-color: $basic-grey;
  padding-bottom: 22px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.main-footer__logo {
  margin-top: 39px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main-footer__social-list {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}
