.main-navigation {
  @media (min-width: $tablet-width) {
    max-width: 440px;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
  }
}

.main-navigation__toggle {
  position: relative;
  width: 34px;
  height: 36px;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  position: absolute;
  top: 9px;
  left: 9px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__wrapper {
    display: none;
  }
}

.main-navigation--opened .main-navigation__toggle {
  &::before {
    position: absolute;
    content: "";
    top: 17px;
    right: 0px;
    width: 25px;
    height: 2px;
    transform: rotate(45deg);
    box-shadow: none;
    background-color: $black;
  }

  &::after {
    position: absolute;
    content: "";
    top: 17px;
    left: 8px;
    width: 25px;
    height: 2px;
    transform: rotate(-45deg);
    box-shadow: none;
    background-color: $black;
  }
}

.main-navigation--opened .main-navigation__wrapper {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: $white;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .site-list__item {
  display: block;
}

.main-navigation--nojs .main-navigation__wrapper {
  position: static;
}
