.main-container__promo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.main-container__option {
  margin-bottom: 20px;
}

.main-container__advantages {
  margin-bottom: 49px;
}
