.main-container {
  flex-grow: 1;
}

.main-container__text {
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}
