.main-index-container__promo {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.main-index-container__option {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.main-index-container__advantages {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    padding-left: 8px;
  }
}

.main-index-container__result {
  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }
}
