.nutrition-program {
  position: relative;
  padding-top: 29px;
  padding-bottom: 18px;
  padding-left: 22px;
  padding-right: 33px;
  background-color: $basic-grey;

  &::before {
    position: absolute;
    content: "";
    top: 23px;
    left: 22px;
    background-color: $basic-green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 316px;

    &::before {
      width: 200px;
      height: 200px;
      top: 85px;
      left: 446px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    padding-left: 52px;
    padding-top: 77px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }
}

.nutrition-program--slim {
  &::after {
    position: absolute;
    z-index: 100;
    top: 19px;
    left: 29px;
    width: 36px;
    height: 50px;
    content: "";
    background-image: url("../../img/index/bg-icons/slim-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 74px;
      left: 476px;
      background-size: 140px 194px;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: 42px;
      left: 67px;
      background-size: 70px 97px;
      width: 70px;
      height: 97px;
    }
  }
}

.nutrition-program--mass {
  &::after {
    position: absolute;
    z-index: 100;
    top: 33px;
    left: 13px;
    width: 67px;
    height: 28px;
    content: "";
    background-image: url("../../img/index/bg-icons/muscles-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 128px;
      left: 412px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }

    @media (min-width: $desktop-width) {
      top: 67px;
      left: 34px;
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
    }
  }
}

.nutrition-program__title {
  margin: 0;
  margin-left: 68px;
  margin-bottom: 31px;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 163px;
    margin-bottom: 73px;
  }
}

.nutrition-program__text {
  position: relative;
  margin: 0;
  margin-bottom: 38px;

  &::after {
    position: absolute;
    top: 108px;
    left: 0;
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.nutrition-program__link {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 40px;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("../../img/index/bg-icons/arrow-link.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 12px;

  @media (min-width: $tablet-width) {
    padding-right: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 52px;
  }
}

.nutrition-program__link:hover {
  padding-right: 57px;
  background: url("../../img/index/bg-icons/arrow-link-hover.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px 12px;
}
