.offer {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../img/catalog/offer-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-width) {
    width: 245px;
    max-height: 290px;
  }
}

.offer__text {
  margin: 0;
  padding: 0;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 422px;
    padding-right: 124px;
    padding-top: 69px;
    padding-bottom: 69px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }


  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 184px;
    padding-bottom: 42px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}
