.page {
  height: 100%;
}

.page__body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $white;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 18px;
  color: $font-grey;
}
