.product-card {
  position: relative;
  padding-top: 20px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.product-card--big {
  padding-top: 15px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.product-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.product-card__image-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.product-card__image-wrapper--big {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.product-card__image {
  width: 68px;
  height: 86px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 160px;
    height: 170px;
  }
}

.product-card__image--big {
  width: 85px;
  height: 100px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 202px;
  }
}

.product-card__content-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .product-card__content-wrapper {
    width: 100%;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .product-card__content-wrapper {
    align-items: center;
  }
}

.product-card__title {
  width: 55%;
  margin: 0;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 16px;
  }
}

.product-card__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 250px;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

.product-card__item:not(:last-of-type) {
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.product-card__value {
  margin: 0;
}

.product-card__button {
  width: 280px;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
