.promo {
  // position: relative;
  padding-top: 27px;

  &::after {
    position: absolute;
    top: 65px;
    width: 100%;
    min-height: 302px;
    content: "";
    background-color: $basic-green;
    background-image: url("../../img/index/cat-promo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/retina/cat-promo-mobile@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 59px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-top: 46px;
    margin-bottom: 82px;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -15;
      width: 50%;
      min-height: 696px;
      content: "";
      background-image: url("../../img/index/desktop/cat-promo-desktop.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index/retina/cat-promo-desktop@2x.png");
      }
    }
  }
}

.promo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    position: relative;
    padding-bottom: 54px;
    display: flex;
    flex-direction: row;
  }
}

.promo__content-wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 67px;
    margin-bottom: 185px;
    max-width: 50%;
  }
}

.promo__title {
  margin-bottom: 25px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 42px;
    text-align: left;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 39px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  font-family: $additional-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 80px;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    left: 450px;
    top: -16px;
    width: 552px;
    height: 499px;
    z-index: 100;
  }
}

.promo__button {
  max-width: 280px;
  padding-right: 72px;
  padding-left: 72px;
  font-family: $additional-font-family;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 230px;
    left: 90px;
    display: block;
    width: 244px;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 298px;
    left: 79px;
  }
}
