.radio-group {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #d9d9d9;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    border: 1px solid #d9d9d9;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-left: 28px;
  }
}

.radio-group-item {
  margin-bottom: 13px;
}

.radio-group-item:last-child:last-child {
  margin-bottom: 0;
}
