.radio-group {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    padding-left: 28px;
  }
}

.radio-group-item {
  margin-bottom: 13px;
}

.radio-group-item:last-child:last-child {
  margin-bottom: 0;
}
