.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  list-style-type: none;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 441px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 480px;
  }
}

// .site-list--active {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.site-list__item:not(:last-of-type) {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.site-list__link {
  font-family: $additional-font-family;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
