.slider__wrapper {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image-wrapper {
  position: absolute;
  overflow: hidden;
}

.slider__image-wrapper--before {
  width: 50%;
  top: 0;
  left: 0;
  z-index: 100;
}

.slider__image-wrapper--after {
  width: 100px;
  z-index: 200;
  top: 0;
  right: 0;
}

.slider__image {
  width: 280px;
  max-width: 280px;


  @media (min-width: $tablet-width) {
    width: 560px;
    max-width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    max-width: 560px;
  }
}
