.slider__wrapper {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image-wrapper--before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip: rect(auto, 140px, auto, auto);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    clip: rect(auto, 280px, auto, auto);
  }
}

.slider__image-wrapper--after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip: rect(auto, auto, auto, 140px);

  @media (min-width: $tablet-width) {
    clip: rect(auto, auto, auto, 280px);
  }
}

.slider__image {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider__image--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__image--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}


.slider-range {
  position: absolute;
  top: 0;
  left: 138px;
  content: "";
  width: 2px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;

  @media (min-width: $tablet-width) {
    left: 278px;
    height: 512px;
  }

  &::before {
    position: absolute;
    top: 108px;
    left: -19px;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;
    background-color: $white;
    background-image: url("../../img/index/icons/slider-arrows.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 256px;
    }
  }
}

.slider-range:hover {
  background-color: $basic-green;
}

.slider-range:hover .slider-range::before {
  border-color: $basic-green;
  background-image: url("../../img/index/icons/slider-arrows-green.svg");
  background-repeat: no-repeat;
  background-position: center;
}
