.slider__wrapper {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image-wrapper--before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip: rect(auto, 140px, auto, auto);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    clip: rect(auto, 280px, auto, auto);
  }
}

.slider__image-wrapper--after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip: rect(auto, auto, auto, 140px);

  @media (min-width: $tablet-width) {
    clip: rect(auto, auto, auto, 280px);
  }
}

.slider__image {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider-range {
  position: absolute;
  top: 0;
  left: 138px;
  content: "";
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;
  margin: 0;
  padding: 0;
  border: none;
  color: #666666;


  @media (min-width: $tablet-width) {
    left: 272px;
    height: 512px;
  }

  @media (min-width: $tablet-width) {
    left: 278px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 110px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #666666;

    @media (min-width: $tablet-width) {
      top: 235px;
      right: -18px;
    }
  }
}

.slider-range:hover {
  background-color: $basic-green;
  color: $basic-green;
}

.slider-range:hover::before {
  border: 2px solid $basic-green;
}

.slider-range:active {
  background-color: #5eaa2f;
  color: $basic-green;
  opacity: 0.6;
}

.slider-range:active::before {
  border: 2px solid #5eaa2f;
  opacity: 0.6;
}

.slider-range__icon {
  z-index: 40;
  position: absolute;
  content: "";
  top: 110px;
  right: -20px;

  @media (min-width: $tablet-width) {
    top: 235px;
    right: -18px;
  }
}

